<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>TellMe Interface</title>
</head>
<body>
<div class="container" >
<h1>TellMe</h1>
<div class="form-group">
<form method="post"  name = "form" action="/showdata/" >

<div class="form-group">
<label for="Email1msg">Put your review below and back off :</label>
    <textarea class="form-control" rows="5" name="review"></textarea>
</div>

       <button type="submit" class="btn btn-primary">Trigger me</button>
</form>
</div>
</div>
</body>
</html>